* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Roboto, Courier, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100%, 500px);
    height: min(100%, 500px);
    border: solid red;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid green;
}

header,
footer {
    font-size: 40px;
}

#winner-box {
    position: absolute;
    width: 60%;
    height: 60%;
}

#winner-announcement {
    font-size: 40px;
    position: absolute;
    background-color: white;
    border: solid black;
    width: 100%;
    height: 100%;
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 2px;
    box-sizing: border-box;
    border: 5px solid orange;
}

.square {
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}