* {
    padding: 0;
    margin: 0;
}

:root {
    --teal-color: rgb(12, 152, 170);
    --fuchsia-color: #ca2c92;
    --brown-color: #5f4539;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: Roboto, Courier, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90%, 500px);
    height: min(100%, 525px);
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 40px;
    color: var(--teal-color);
}

#winner-box {
    position: absolute;
    width: 60%;
    height: 60%;
}

#winner-announcement {
    position: absolute;
    background-color: white;
    border: solid var(--fuchsia-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-word;
    color: var(--fuchsia-color);
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 2px;
    box-sizing: border-box;
}

.square {
    outline: 2px solid var(--brown-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: var(--brown-color);
}

footer{
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    color: var(--teal-color);
}
#button-container {
    display: flex;
    justify-content: center;
}

#restart {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    background-color: var(--teal-color);
    color: white;
    font-weight: bold;
    font-size: large;
    box-shadow: 2px 2px black;

}

#player-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.player-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: relative;
}

.input-fields {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(230, 226, 226);
    padding: 10px;
    width: 200px;
    position: absolute;
    margin-bottom: 20px;
    border: 1px solid black;
}

#new-player1-name,
#new-player2-name {
    margin-bottom: 5px;
}

#input-player1 {
    margin-left: 90px;
}

#input-player2 {
    margin-right: 90px;
}

.save-exit-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

input {
    height: 30px;
    width: 90%;
}

.input-btn {
    background-color: white;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
}

.save-name {
    color: green;
}

.exit-name {
    color: red;
}

.edit-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    box-shadow: 2px 2px gray;
}

#player-container img {
    height: 15px;
    width: 15px;
    border: 1px solid rgb(173, 173, 173);
    background-color: white;
}

.player-person {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

